.logo {
  display: block;
  background: transparent url('/img/p-jamlogo.gif') center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
}

/*Dropdown menu*/
.dropbtn {
    padding: 10px 0px 10px 0px;
    border: none;
    cursor: pointer;
    min-width: 170px;
    text-align: center;
    /*border-bottom: 3px solid transparent;*/ /*This was used for underline hover styling*/
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: transparent;
    min-width: 170px;
    vertical-align: middle;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
}

.dropdown-item {
  display: flex;
  justify-content: space-around;
  min-width: 150px;
  padding: 10px 0;
}

.dropdown-item {
  background-color: transparent;
  transition: 1s;
}

.item-icon {
  width: auto;
}

.item-text {
  width: auto;
  align-self: center;
  text-align: center;
  /*flex-grow: 1*/
}

.icons {
  max-width: 70px;
  max-height: 50px;
}

/*Dropdown menu hover behavior*/
.dropdown:hover .dropdown-content {
  /*display: block;*/
  /*position: relative;*/
  z-index: 1;
  height: auto;
  max-height: 400px;
  opacity: 1;
  transition: 1s ease-out;
  overflow: visible;
  /*background: #000 url(/css/img/bg_3.jpg) no-repeat fixed;*/
}

.dropdown:hover .dropdown-content::before, .dropdown:hover .dropbtn::before {
  content: '';
  display: block;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -5%;
  background: rgba(0,58,90,0.8) url(/img/bg_3.jpg) no-repeat fixed;
  border-radius: 10px;
  /*background-color: rgba(0,58,90,0.8);*/
  /*box-shadow: 0px 0px 40px 20px rgba(0,58,90,0.7);*/
  filter: blur(4px);
  z-index: -1;
  opacity: 0.7;
}

.dropdown:hover .dropbtn::before {
  top: -5%;
}

.dropdown:hover .btn-text {
  transform: scale(1.2,1.2);
  transition: 1s;
}

.btn-text {
  transition: 1s;
}

/*.dropdown:hover .item-text {
  /*background-color: #003A5A;
  box-shadow: 0px 0px 10px 10px rgba(0,11,38,0.75);
  border-radius: 5px;
  margin: 0 5px;
}*/

/*Dropdown item hover transition*/
.dropdown-item:hover {
  /*border: 2px solid #00A383;
  border-radius: 20px;*/
  /*border-left: 3px solid #00A383;
  border-right: 3px solid #00A383;*/
  /*border: 5px solid #002E5B;*/
  /*background-color: rgba(10,163,131,1);*/
  transform: scale(1.2,1.2);
  transition: 1s;
  z-index: 2;
}

/*Dropdown item icon animations*/
.dropdown-item:hover .iconRotate3d {
  transform: rotate3D(0,1,1,360deg);
  transition: 2s;
}

.dropdown-item .iconRotate3d {
  transition: 2s;
}

.dropdown-item:hover .iconRotateZ {
  transform: rotateZ(360deg);
  transition: 2s;
}

.dropdown-item .iconRotateZ {
  transition: 2s;
}

.dropdown-item:hover .iconRotateY {
  transform: rotateY(360deg);
  transition: 2s;
}

.dropdown-item .iconRotateY {
  transition: 2s;
}

.dropdown-item:hover .iconRotateX {
  transform: rotateX(360deg);
  transition: 2s;
}

.dropdown-item .iconRotateX{
  transition: 2s;
}
